body {
  /* background: url("./assets/img/hexagon-background.jpg") no-repeat; */
  /* background-size: cover; */
  background-color: black;
  /* height: 100%; */
  scroll-behavior: smooth;

}


.react-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}